.home{
  width: 1440px;
  min-height: 570px;

  color: #697CA6;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);

  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}