.testimonials {
  width: 1440px;
  height: 479px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  .textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }

  .quote {
    width: 423px;
    height: 175.37px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 5px 50px #F3F5FA;
    padding: 40px;
  }

}