
.presentation {
  height: 776px;
  left: 0px;
  top: 797px;
  background: #F5F8FF;


  .textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 413px;


    }

}