.presentation {
  width: 1440px;
  height: 776px;
  left: 0px;
  top: 797px;
  background: #F5F8FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 413px;


      .buttonStyle {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        background: #4C85FF;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 2px;
        border: 0;
        width: 130.08px;;
        height: 43px;
        color: #FFFFFF;
      }

      .secondButtonStyle {
        width: 130.08px;
        height: 43px;
        left: 399.92px;
        top: 1314px;
        border: 0;
        border: 1px solid #D1D1E4;
        box-sizing: border-box;
        border-radius: 2px;
        color: #ADB4D2;
        background: #F5F8FF;
      }

    }

}