.features {
  width: 1441px;
  height: 885px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .feature {
    width: 69px;
    height: 69px;
    background: #F1F5FF;
    color: #4074F8;
    text-align: center;
    border-radius: 50%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .featuresBlock {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .buttonBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .title {
    color: #0d6efd;
  }
  .text {
    color: #ADB3CB;
  }
}