.features {
  width: 1441px;
  height: 885px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .textBlock {

  }

  .featuresBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .feature {
      width: 69px;
      height: 69px;
      background: #F1F5FF;
      color: #4074F8;
      text-align: center;
      border-radius: 50%;
    }
  }

  .buttonBlock {

    .readMoreBtn {
      width: 113px;
      height: 43px;
      background: #FFD7D7;
      border-radius: 2px;
      border: 0px;
      color: #D43F3F;
    }
    .getStartedBtn{
      width: 113px;
      height: 43px;
      background: #D2E1FF;
      border-radius: 2px;
      border: 0px;
      color: #3A79FF;
    }
  }
}