
.containerBlock {
  height: 80px;
  width: 1441px;
  padding-top: 20px;

.iconsBlock {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;


    .iconStyle {
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      color: #B6BAC7;
      padding-right: 30px;
    }

  }
}
