
.containerBlock {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

.iconsBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .iconStyle {
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      color: #B6BAC7;
      padding-right: 30px;
    }

  }
}
